

@media only screen and (max-width: 500px){
    main{
        width: 100%;
    }
    .navegation ul{
        display: flex;
        flex-flow: row nowrap;
        list-style: none;

        text-align: center;
    }
    .navegation ul li{
        padding: 5px;
    }
    #tela{
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    section{
        display: flex;
        flex-flow: column nowrap;
        margin: 5px;
    }
    .lista{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 15px;
    }
    button{
        height: 50px;
        width: 60px;
    }
    aside{
        width: 80%;
    }
    .galeria-select{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .img-select{
        box-sizing: border-box;
        width: calc(100%/2.2);
        height: 180px;
        margin: 5px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .info{
        margin: 25px;
    }
    
}

